.git
.gitignore
.dockerignore
.env
.env.*
!.env.example

.vscode/
.idea/

bin/
repos/
snippets/
api/oapi.gen.go

prompts.log
*.log

README.md
*.drawio
*.png

file.txt
in.txt
payload.json
curl_queries

Dockerfile
docker-compose.yml
